
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutFreecss.cshtml";
}

<section id="aa-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-contact-area">
                    <div class="aa-contact-top">
                        <h2>Giới Thiệu Nhà Sách NTNBOOKSTORE</h2>
                        <hr />
                        <br />
                        <p>Ntnbookstore.com là trang thương mại điện tử của nhà sách online. Đến với không gian mua sắm trực tuyến ntnbookstore.com, khách hàng có thể dễ dàng tìm thấy những cuốn sách hay, đa thể loại của nhiều nhà xuất bản, công ty sách trong và ngoài nước. </p>
                        <p>Chúng tôi cam kết mang đến cho khách hàng trải nghiệm mua sắm trực tuyến an toàn, tiện lợi: cách đặt hàng đơn giản, phương thức thanh toán đa dạng, dịch vụ chăm sóc khách hàng tận tình, chu đáo. </p>
                        <img src="~/Image/bookstore-1024x682.jpg" />
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
@*<div class="container" style="margin-left:300px">
        <br />
        <br />
        <p>ntnbookstore.com là trang thương mại điện tử của nhà sách online.</p>
        <p>Đến với không gian mua sắm trực tuyến ntnbookstore.com, khách hàng có thể dễ dàng tìm thấy những cuốn sách hay, đa thể loại của nhiều nhà xuất bản, công ty sách trong và ngoài nước.  </p>
        <p>Phone: (+84 28) 38 632 052 - 38 629 232 </p>
        <p>Fax: (+84 28) 38 650 991</p>
        <p>Email: ntnbookstore@gmail.com</p>
        <p>Địa chỉ: 155 Sư Vạn Hạnh Phường 13 Quận 10 Thành phố Hồ Chí Minh</p>
        <div style="display:block; margin-left:auto; margin-right:auto;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4601638096196!2d106.6652137140239!3d10.776024762149646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edba026cb75%3A0xb2a9aab49da1c58f!2zMTU1IFPGsCBW4bqhbiBI4bqhbmgsIFBoxrDhu51uZyAxMiwgUXXhuq1uIDEwLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1594784843202!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    <br />
    <br />*@

